{% asset 'aafc/aafc_js' %}

{% set current_lang = request.environ.CKAN_LANG %}
<div class="container aafc-back">
  <div class="container">
    <div class="row top30"></div>
    <div class="row top30">
      <div class="col-xs-12 text-center">
        <h1 class="index-main-header">
	    {%if current_lang == "fr" %} Bienvenue au catalogue de données d'AAC
            {% else %} Welcome to the AAFC Data Catalogue
	    {% endif %}
       </h1>
      </div>
    </div>
    <div class="row">
      <div class="text-center mrgn-tp-md">
        <span style="font-style: normal;font-weight: 400;font-size: 22px;color: black; text-shadow:#FFF 1px 0px 1px;">
	    {%if current_lang == "fr" %} Le catalogue de données départemental de Agriculture et Agroalimentaire Canada - faciles à trouver, accessibles, interopérables et réutilisables
            {% else %} Agriculture and Agri-Food Canada's departmental data catalogue - Findable, Accessible, Interoperable, Reusable
	    {% endif %}
          </span>
      </div>
    </div>
  </div>
  <div class="aafc-container index-search-container mrgn-tp-md" style="padding:0 !important;">
    {% block search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}
  </div>
  <div class="aafc-container" style="padding:0;position:relative;bottom:15px;">
    <div class="row">
      <div class="col-md-12 text-center">
        {% block stats %}
          {% snippet 'home/snippets/stats.html' %}
        {% endblock %}
      </div>
    </div>
</div>
</div>
  <div class="container">
    <div class="row row2">
	<div class="col-md-6 col1 mrgn-tp-lg mrgn-bttm-lg">
        <h2 class ="index-category-header">
            {%if current_lang == "fr" %}(FR) New or Recently Modified Datasets</a>
            {% else %} New or Recently Modified Datasets </a>
            {% endif %}
        </h2>
          <br>
          <ul class ="recent-datasets"></ul>
      </div>

      <div class="col-md-6 col1 mrgn-tp-lg">
        <h2 class="index-category-header">
            {%if current_lang == "fr" %} (FR) Frequently Viewed Datasets
            {% else %} Frequently Viewed Datasets
            {% endif %}
        </h2>
          <br>
          <ul class="popular-datasets"></ul>
      </div>
    </div>
    <div class="row row3 mrgn-bttm-lg">
      <div class="col-md-6 col2 mrgn-tp-lg mrgn-bttm-lg">
        <h2 class="index-category-header">
            {%if current_lang == "fr" %} (FR) Need Help?
            {% else %} Need Help?
            {% endif %}
        </h2>
          <br>
          <p>
            {%if current_lang == "fr" %}
	        <p>See the AAFC Data Catalogue <a href="https://collab.agr.gc.ca/co/aafcogwg-gtaacgo/_layouts/15/guestaccess.aspx?guestaccesstoken=uVhAriFLCza4VPR0qkQheIW7keVJVA05wSED0EE7Spg%3d&docid=2_0a84f71cdc2c2449daf9fd697ff48f01e&rev=1" target="_blank">guides d'utilisation</a> to help in your data journey.
	        Visit the <a href="/fr/help">Help page</a> for an overview, information on sharing data and FAQs.</p>
		<br>
		Not finding what you are looking for or want to provide feedback...
		<p>Contactez-nous: <a href="mailto:aafc.opengovernment-gouvernementouvert.aac@agr.gc.ca">aafc.opengovernment-gouvernementouvert.aac@agr.gc.ca</a></p>
            {% else %}
                <p>See the AAFC Data Catalogue <a href="https://collab.agr.gc.ca/co/aafcogwg-gtaacgo/Documents/AAFC%20Data%20Catalogue/AAFC_DATA_CATALOGUE_GUIDES/Data_Catalogue_USER_GUIDE_2021.pdf" target="_blank">User Guide</a> to help in your data journey.
		Visit the <a href="/en/help">Help page</a> for an overview, information on sharing data and FAQs.</p>
                <br>
                Not finding what you are looking for or want to provide feedback...
		<p>Contact Us: <a href="mailto:aafc.opengovernment-gouvernementouvert.aac@agr.gc.ca">aafc.opengovernment-gouvernementouvert.aac@agr.gc.ca</a></p>
            {% endif %}
          </p>
      </div>
      <div class="col-md-6 col2 mrgn-tp-lg mrgn-bttm-lg">
        <h2 class="index-category-header">
            {%if current_lang == "fr" %} Gouvernement ouvert
            {% else %} Open Government
            {% endif %}
        </h2>
          <br>
          <p>
            {%if current_lang == "fr" %}
                Le gouvernement ouvert a trait à rendre le gouvernement plus accessible à tous.
                Ceci veut dire qu'il faut accorder un plus grand accès aux données et à l'information du gouvernement au public canadien, de même qu'à la collectivité des entreprises.
                <br> En apprendre davantage sur le <a href="https://ouvert.canada.ca/fr" target="_blank">gouvernement ouvert</a>.
                <br> Effectuez des recherches dans les données du gouvernement du Canada dans <a href="https://ouvert.canada.ca/fr/donnees-ouvertes" target="_blank">le portail des données ouvertes</a>.
            {% else %}
                Open Government is about making government more accessible to everyone.
                This means giving greater access to government data and information to the Canadian public and the businesses community.
                <br> Learn about <a href="https://open.canada.ca/en" target="_blank">Open Government</a>.
                <br> Search Government of Canada data on the <a href="https://open.canada.ca/en/open-data" target="_blank">Open Data Portal</a>.
            {% endif %}
          </p>
      </div>


    </div>
</div>

