{% set current_lang = request.environ.CKAN_LANG %}
<div role="main" class="aafc-back">
  <div class="container">
    <div class="row top30"></div>
    <div class="row top30">
      <div class="col-xs-12 text-center">
        <em  style="font-size:66px;color:black;font-weight:600">
	    {%if current_lang == "fr" %} Découvrir. Partager. Ouvert.
            {% else %} Discover. Share. Open.
	    {% endif %}
       </em>
      </div>
    </div>
    <div class="row">
      <div class="text-center font-italic">
        <span  style="font-size:32px;color:black;"><i>
	    {%if current_lang == "fr" %}
Rendre les ensembles de données d’AAC disponibles, accessibles et 
            {% else %} Making AAFC datasets available, accessible and reusable across
	    {% endif %}
          </i></span>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <span  style="font-size:32px;color:black;"><i>
	    {%if current_lang == "fr" %}
	sables d’AAC et au-delà.	
            {% else %} AAFC and beyond.
	    {% endif %}
       </i></span>
      </div>
    </div>
  </div>
  <div class="aafc-container">
    {% block search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}
  </div>
  <div class="aafc-container" style="padding:0;">
    <div class="row">
      <div class="col-md-12 text-center">
        {% block stats %}
          {% snippet 'home/snippets/stats.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
